{% comment %}
	This snippet prints the addbox for a product form

	Usage:
		{% include 'addbox' %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}

{% assign ID = product.variants.first.id %}
{% if product.variants.size > 1 %}
	{% for variant in product.variants %}
		{% if variantType == variant.title %}
			{% assign ID = variant.id %}
		{% endif %}
	{% endfor %}
{% endif %}

{% assign quantity = 0 %}
{% for item in cart.items %}
	{% if ID == item.id %}
		{% assign quantity = item.quantity %}
	{% endif %}
{% endfor %}


<div class="addbox js-addbox" data-id="{{ ID }}" data-quantity="{{ quantity }}">
	<input type="hidden" id="product-select" name="id" value="{{ ID }}">
	<span class="addbox-quantity js-addbox-output">{{ quantity }}</span>
	<button class="addbox-btn addbox-btn-add js-addbox-btn" type="button" data-value="add" data-id="{{ ID }}">Add one</button>
	<button class="addbox-btn addbox-btn-sub js-addbox-btn" type="button" data-value="sub" data-id="{{ ID }}">Remove one</button>
</div>