<div class="cart">
	<h1 class="subtitle">TO SHIP RICE PUDDING&hellip;</h1>

	{% if cart.item_count > 0 %}

		<table class="cart-table">

			<thead class="cart-table-headline">
				<tr>
					<th class="cart-table-quanity">Quantity</th>
					<th class="cart-table-title">&nbsp;</th>
					<th class="cart-table-price">Price</th>
					<th class="cart-table-total">Total</th>
				</tr>
			</thead>

			<tbody>

				{% for item in cart.items %}

					{% assign collection_url = '/collections/all' %}
					{% assign continue_shopping_url = collection_url %}

					<tr class="cart-table-body">
						<td class="cart-table-quantity">
							<span class="quantity">{{ item.quantity }} x</span>
						</td>
						<td class="cart-table-title">
							<a href="{{ collection_url }}{{ item.url }}">
								{{ item.title }}
							</a>

							{% comment %}
								Line Item Properties
							{% endcomment %}
							{% assign properties_amount = item.properties | size %}
							{% if properties_amount > 0 %}
								<p>
									{% for p in item.properties %}
										{% unless p.last == blank %}
											{{ p.first }}:
											{% if p.last contains '/uploads/' %}
												<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
											{% else %}
												{{ p.last }}
											{% endif %}
											<br>
										{% endunless %}
									{% endfor %}
								</p>
							{% endif %}
						</td>
						<td class="cart-table-price">{{ item.price | money }}</td>
						<td class="cart-table-total">
							{{ item.line_price | money }}
						</td>
					</tr>
				{% endfor %}

				<tr class="cart-table-total">
					<td>
						<strong class="cart-table-subtotal">Total {{ cart.total_price | money }}</strong>
					</td>
				</tr>

			</tbody>

		</table>

		<a class="cart-btn btn" href="/checkout">Continue</a>
	{% else %}

		<div>
			<h2>It appears that your cart is currently empty!</h2>
			<h3>You can continue browsing <a href="/pages/ordernow">here</a>.</h3>
		</div>

	{% endif %}
</div>