{% comment %}---------------------------------------------------------------------------------------------------------------------------------------------------
	COLLECTION VIEW FOR PUDDINGS
------------------------------------------------------------------------------------------------------------------------------------------------{% endcomment %}
<h2 class="subtitle">{{ collection.title }}</h2>

<section class="products">

	<div class="products-key-wrapper">
		<div class="products-key products-key-epic">
			<span class="products-key-bubble btn btn-four">14oz - serves 2</span>
			<img class="products-key-size" src="{{ 'epic.png' | asset_url }}">
		</div>

		<div class="products-key products-key-sumo">
			<span class="products-key-bubble btn btn-four">40oz - serves 5</span>
			<img class="products-key-size" src="{{ 'sumo.png' | asset_url }}">
		</div>
	</div>

	<ul class="product-list" style="background-image: url({{ 'puddybg.jpg' | asset_url }})">
		{% for product in collection.products %}
			{% include 'product-pudding' %}
		{% else %}
			<li class="product-item">
				<p>- There are no puddings in this view. -</p>
			</li>
		{% endfor %}
	</ul>

	{% include 'pagination' %}

</section>

<section class="bottom">
	<a class="btn" href="/cart">Continue</a>

	<div class="bottom-content content">{{ collection.description }}</div>
</section>