<div class="form">
	{% form 'reset_customer_password' %}

		<h2 class="subtitle">{{ 'customer.reset_password.title' | t }}</h2>
		<p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

		{% if form.errors %}
			<div class="form-msg has-error">
				<p>
					{{ form.errors | default_errors }}
				</p>
			</div>
		{% endif %}

		<ul class="form-list">
			<li class="form-list-item">
				<label class="form-label" for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
				<input class="form-input" type="password" value="" name="customer[password]" id="ResetPassword" {% if form.errors contains "password" %} class="error"{% endif %}>
			</li>
			<li class="form-list-item">
				<label class="form-label" for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
				<input class="form-input" type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>
			</li>
			<li class="form-list-item">
				<input class="form-btn btn" type="submit" value="{{ 'customer.reset_password.submit' | t }}">
			</li>
		</ul>
	{% endform %}
</div>